.foot-main{
  height: 250px;
  background-color: #3c9ad8;

  .social-media{
    height: 170px;
    padding-top: 40px;
  }

  .foot-img{
    height: 80px;
    background-color: #2a83bf;
    padding-top: 18px;

    img{
      height: 55px;
      width: 150px;
    }
  }
}