/* section WHAT WE DO */
.what-we-do {
  font-family: 'Open Sans', sans-serif;
  background-color: #2C303C;
  padding: 70px 0 70px 0;
  width: 100%;
  color: #fff;
  /* head what we do */
  /* developing sites */
  /* design and style */
  /* SEO */
  /* SMM */
  /* browser */ }
  .what-we-do h2 {
    font-weight: bold;
    text-align: center;
    font-size: 38px; }
  .what-we-do p {
    color: #7E889B;
    font-size: 14px; }
  .what-we-do head-p {
    text-align: center; }
  .what-we-do .dots-to-dev {
    padding-left: 30px; }
  .what-we-do h3 {
    font-size: 22px; }
  .what-we-do .w-w-d-captions {
    border-radius: 4px;
    padding: 5px 7px; }
  .what-we-do .dev-caption {
    background-color: #23C7C8;
    width: 195px; }
  .what-we-do .more {
    background-color: #fff;
    color: #000000;
    font-size: 22px;
    padding: 2px 8px;
    border-radius: 5px; }
    .what-we-do .more:hover {
      text-decoration: none; }
  .what-we-do .pictures {
    height: 375px; }
    .what-we-do .pictures .ellipse-right {
      z-index: 1;
      top: 5px;
      left: 175px; }
    .what-we-do .pictures .pic-right {
      z-index: 2;
      top: -339px;
      left: 195px; }
    .what-we-do .pictures .icon-right {
      z-index: 3;
      top: -340px;
      left: -265px; }
  .what-we-do .pictures IMG {
    position: relative; }
  .what-we-do .dots-to-section {
    padding-left: 50px; }
  .what-we-do .design-caption {
    background-color: #8DC63F;
    width: 355px; }
  .what-we-do .ellipse-left {
    z-index: 1;
    top: 5px;
    left: 85px; }
  .what-we-do .pic-left {
    top: -339px;
    left: 105px;
    z-index: 2; }
  .what-we-do .icon-left {
    z-index: 3;
    top: -340px;
    left: 45px; }
  .what-we-do .seo-caption {
    background-color: #FE476A;
    width: 55px; }
  .what-we-do .smm-caption {
    background-color: #F6C13B;
    width: 65px; }
  .what-we-do .arrow-end {
    margin-left: 400px; }
  .what-we-do .browser {
    margin-top: 34px;
    position: relative;
    text-align: center; }
    .what-we-do .browser .browser-inside {
      position: absolute;
      width: 997px;
      height: 610px;
      top: 77px;
      left: 162px;
      background-color: #424550; }
      .what-we-do .browser .browser-inside .safari-browser {
        font-size: 13px;
        font-family: "Open Sans Semibold";
        position: absolute;
        top: -306px;
        left: 134px; }
      .what-we-do .browser .browser-inside .newtab {
        position: absolute;
        font-size: 10px;
        color: #fff; }
      .what-we-do .browser .browser-inside .tab-01 {
        top: -248px;
        left: -226px; }
      .what-we-do .browser .browser-inside .tab-02 {
        top: -248px;
        left: -125px; }
      .what-we-do .browser .browser-inside .icon-safari {
        position: absolute;
        top: 80px;
        left: 450px; }
      .what-we-do .browser .browser-inside .caption-browser {
        position: absolute;
        top: 230px;
        left: 320px;
        text-align: center; }
        .what-we-do .browser .browser-inside .caption-browser #outline {
          font-size: 62.38px; }
        .what-we-do .browser .browser-inside .caption-browser #saf-brow {
          font-size: 51.98px; }
        .what-we-do .browser .browser-inside .caption-browser #web-el {
          font-size: 33.27px; }
        .what-we-do .browser .browser-inside .caption-browser .free-resource {
          position: absolute;
          background-color: #fff;
          border-radius: 10px;
          font-family: "Myriad Pro";
          color: #000000;
          font-size: 24.95px;
          padding: 20px 19px;
          top: 265px;
          left: 95px; }

/*# sourceMappingURL=style.css.map */
