
/* section WHAT WE DO */
.what-we-do {
  font-family: 'Open Sans', sans-serif;
  background-color: #2C303C;
  padding: 70px 0 70px 0;
  width: 100%;
  color: #fff;

  /* head what we do */
  h2 {
    font-weight: bold;
    text-align: center;
    font-size: 38px;
  }
  p {
    color: #7E889B;
    font-size: 14px;
  }
  head-p {
    text-align: center;

  }
  .dots-to-dev {
    padding-left: 30px;
  }
  /* developing sites */
  h3 {
    font-size: 22px;
  }
  .w-w-d-captions {
    border-radius: 4px;
    padding: 5px 7px;
  }
  .dev-caption {
    background-color: #23C7C8;
    width: 195px;
  }
  .more {
    background-color: #fff;
    color: #000000;
    font-size: 22px;
    padding: 2px 8px;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
    }
  }
  .pictures {
    height: 375px;
    .ellipse-right {
      z-index: 1;
      top: 5px;
      left: 175px;
    }
    .pic-right {
      z-index: 2;
      top: -339px;
      left: 195px;
    }
    .icon-right {
      z-index: 3;
      top: -340px;
      left: -265px;
    }
  }
  .pictures IMG {
    position: relative;
  }
  .dots-to-section {
    padding-left: 50px;
  }
  /* design and style */
  .design-caption {
    background-color: #8DC63F;
    width: 355px;
  }
  .ellipse-left {
    z-index: 1;
    top: 5px;
    left: 85px;
  }
  .pic-left {
    top: -339px;
    left: 105px;
    z-index: 2;
  }
  .icon-left {
    z-index: 3;
    top: -340px;
    left: 45px;
  }

  /* SEO */
  .seo-caption {
    background-color: #FE476A;
    width: 55px;
  }

  /* SMM */
  .smm-caption {
    background-color: #F6C13B;
    width: 65px;
  }
  .arrow-end {
    margin-left: 400px;
  }

  /* browser */
  .browser {
    margin-top: 34px;
    position: relative;
    text-align: center;

    .browser-inside {
      position: absolute;
      width: 997px;
      height: 610px;
      top: 77px;
      left: 162px;
      background-color: #424550;
      .safari-browser {
        font-size: 13px;
        font-family: "Open Sans Semibold";
        position: absolute;
        top: -306px;
        left: 134px;
      }
      .newtab {
        position: absolute;
        font-size: 10px;
        color: #fff;
      }
      .tab-01 {
        top: -248px;
        left: -226px;
      }
      .tab-02 {
        top: -248px;
        left: -125px;
      }
      .icon-safari {
        position: absolute;
        top: 80px;
        left: 450px;
      }
      .caption-browser {
        position: absolute;
        top: 230px;
        left: 320px;
        text-align: center;
        #outline {
          font-size: 62.38px;
        }
        #saf-brow {
          font-size: 51.98px;
        }
        #web-el {
          font-size: 33.27px;
        }
        .free-resource {
          position: absolute;
          background-color: #fff;
          border-radius: 10px;
          font-family: "Myriad Pro";
          color: #000000;
          font-size: 24.95px;
          padding: 20px 19px;
          top: 265px;
          left: 95px;
        }
      }
    }
  }
}

